<!DOCTYPE html>
<html>
<head>
  	<title><%= title %></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="app/bootstrap.js"></script>
	<script src="app/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	
    <style>
    
    	body 
    	{
  			background: #ffffff;
  		}
  		
  		.navbar-default
		{
     		background-color:  #ffffff;
		}
  		
  		
  	</style>
  	
  </head>
  <body>
  
  	 <!--Nav-->
     <nav class="navbar navbar-default" id="nav_bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="fa fa-twitter" aria-hidden="true" style="color:blue;display:block;text-align:center;padding-left:250px;"></i>
                <h4 style="color:#777;padding-left:430px;">Password Reset</h4>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
      			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="right:400px;font-size:18px;">Language <span class="caret"></span></a>
        			<ul class="dropdown-menu">
          				<li><a href="#">English</a></li>
          				<li><a href="#">Kannada</a></li>
          				<li><a href="#">Hindi</a></li>
        			</ul>
      			</li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar ends here-->
    
    <form action="/send-email" method="post" novalidate>
     <h2 style="color:#777;padding-left:430px;margin-top:60px;"> Find your Twitter account </h2>
    <br>
    <br>
    <p style="padding-left:430px;font-size: 14px;line-height: 8px;"> Enter your email, phone number, or username. </p>
    <br>
    <input type="emailId" class="form-control" name="to" id="emailId" style="margin-left:430px;width:320px;">
  	<br>
     	<button type="button" class="btn btn-primary" style="margin-left:430px;">Search</button>
        <span id="message"></span>
    </form>
</body>
</html>


