<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="C:/Users/agangapuram/workspace/HelloWorld/public/stylesheets/style.css"/>
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-default">
		<!-- <div class="navbar-inner"> -->
  		<div class="container-fluid">
    		<!-- <div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a href="#" class="navbar-brand"><img src="C:/Users/agangapuram/workspace/HelloWorld/public/images/Twit.png" alt="Twitter"></a></li>
      		</div> -->
      		    		
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
      				<li ><a href="#" class="active navbar-custom">
      				<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        			<li ><a href="#" class="navbar-custom">
        			<span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Moments</a></li>
        			<li><a href="#" class="navbar-custom">
        			<span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Notifications</a></li>
        			<li><a href="#" class="navbar-custom">
        			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a></li>
      			</ul>
      			<div class="nav navbar-nav navbar-right">
      				<form class="nav navbar-nav navbar-form" role="search">
        				<div class="form-group">
          					<input type="text" class="form-control" placeholder="Search">
        				</div>
        				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      				</form>
      				<ul class="nav navbar-nav ">
        				<li><a href="#" class=""><img src="C:/Users/agangapuram/workspace/HelloWorld/public/images/default.png" height="30px" width="50px" alt="profile"></a></li>
        				<li><a href="#" class=""><img src="C:/Users/agangapuram/workspace/HelloWorld/public/images/tweet-button.png" height="30px" width="150px" alt="tweet"></a></li>
      				</ul>
      			</div>
      		</div><!-- /.navbar-collapse --> 
  		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3"> 
			<p>fhdkjsfhkdsfhdskfhdskfhdskjfhdskjfhsdkfjhdskjfhdskjfhsdkjfhdskjfhdshfdsjhfkdsjhfkdsjhfkjdhfkjdshf</p>
			</div>
			<div class="col-md-3"> 
			<p>fhdkjsfhkdsfhdskfhdskfhdskjfhdskjfhsdkfjhdskjfhdskjfhsdkjfhdskjfhdshfdsjhfkdsjhfkdsjhfkjdhfkjdshf</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			<p>fhdkjsfhkdsfhdskfhdskfhdskjfhdskjfhsdkfjhdskjfhdskjfhsdkjfhdskjfhdshfdsjhfkdsjhfkdsjhfkjdhfkjdshf</p>
			</div>
		</div>
		<!-- profile div -->
		<div id="profile">
			<h1>Profile div</h1>
		</div>
	
		<!-- trending div -->
		<div id="trend">
			<h1>Trend div</h1>
		</div>
	
		<!-- main div -->
		<div id="main">
			<h1>Main div</h1>
		</div>
	
		<!-- follow div -->
		<div id="follow">
			<h1>Follow div</h1>
		</div>
	
		<!-- misc div -->
		<div id="misc">
			<h1>Misc div</h1>
		</div>
		
	
	</div>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>