<!DOCTYPE html>
<html lang="en" ng-app="tweetApp">
  <head>
  	<title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app/bootstrap.js"></script>
	<script src="app/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	<script src="/controllers/controller.js"></script>
	
    <style>

		ul#dropdown-menu
		{
    		display:inline;
		}
		
		@media(max-width:768px)
		{
    		#login-dp
    		{
        		background-color: inherit;
        		color: #fff;
    		}
    
    		#login-dp .bottom
    		{
        		background-color: inherit;
        		border-top:0 none;
    		}	
		}
		
		.navbar-default
		{
     		background-color:  rgba(126, 215, 202, 0.72);
		}
		
		
    </style>
  </head>
  
  <body>

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#" style="color:white;">Twitter</a>
    		</div>
    		<ul class="nav navbar-nav navbar-right">
      			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white;">Language <span class="caret"></span></a>
        			<ul class="dropdown-menu">
          				<li><a href="#">English</a></li>
          				<li><a href="#">Kannada</a></li>
          				<li><a href="#">Hindi</a></li>
        			</ul>
      			</li>
      			<li><p class="navbar-text" style="color:white;">Have an account?</p></li>
        			<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;"><b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu" style="width: 351.979166px;height: 300.979166px;">
							<li>
					 			<div class="row">
								 <form name="loginform" novalidate>
								 		<h6 style="padding-left:30px;"> Have an account? </h6>
								 		
								 		<div class="form-group" ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine }">
                            				<div class="controls">
                            					<input type="text" name="userId" class="form-control" ng-model="registerForm.name" ng-minlength="3" ng-maxlength="30" placeholder="Phone, email or username" ng-model="loginCredentials.userID" style="margin-left: 30px;width:250px;" required>
                            				</div>
                        				</div>
										
										<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                            				<div class="controls">
                                				<input type="password" name="password" class="form-control" ng-model="loginForm.password" placeholder="Password (Required)" ng-model="loginCredentials.password" style="margin-left: 30px;width:250px;" required>
                            				</div>
                        				</div>
                        				
                        				<div> 
                        					<input type="checkbox" style="margin-left:30px;"> <span> Remember me. <a href="/forgot"> Forgot password? </a> </span>
                        				</div>
  										<br>
			                        	<button type="button" class="btn btn-primary" ng-click="submit()" style="margin-left: 30px;width:250px;">Log in</button>
                        				
                        				<h6 style="padding-left:30px;"> New to Twitter? </h6>
                        				
                        				<button type="button" class="btn btn-primary" style="margin-left: 30px;width:250px;" onclick="window.location = '/register';">Sign up</button>
								 </form>
								</div>
    						</ul>
  					</div>
				</nav> 
	
   <!--Register section-->
    <section id="register" class="section">
    	<div class="container">
            <div class="row" style="padding-top:40px;">
                <div class="col-sm-6 inner-right border-center" data-wow-delay=".3s" style="padding-right:160px;left:400px;">
                    <h1> <b> Join Twitter Today. </b> </h1>
                    <br>
                    <form name="registerForm" id="form_id" action="/afterSignup" method="post" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.fullName.$invalid && !registerForm.fullName.$pristine }">
                            <div class="controls">
                            	<input type="text" name="fullName" class="form-control" ng-model="registerCredentials.fullName" ng-minlength="3" ng-maxlength="30" placeholder=" Full name (Required)" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
                            <div class="controls">
                                <input type="email" name="emailId" class="form-control" ng-model="registerCredentials.emailId" placeholder="Phone or Email (Required)" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                            <div class="controls">
                                <input type="password" name="password" class="form-control" ng-model="registerCredentials.password" placeholder="Password (Required)" required>
                            </div>
                        </div>
                        <br>
                        <div> 
                        	<input type="checkbox"> <span> Personalize Twitter based on where you've seen Twitter content on the web. <a href=""> Learn more. </a> </span>
                        </div>
                        <br>
  						<button id="button" class="btn btn-primary">Sign Up</button>
  						<br>
  						<br>
  						<span> By signing up, you agree to the <a href="">Terms of Service </a> and <a href=""> Privacy Policy </a>, including <a href="">Cookie Use</a>. Others will be able to find you by email or phone number when provided.</span>
            	    </form>
            	</div>
            </div>
         </div>
     </section>
			
  </body>
    
</html>